@import '../../app.scss';

.About{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @include mobile{
    height: 80vh;
  }
}

.aboutcontent{
  background-color: rgb(20, 40, 62);
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  padding: 40px;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:space-around;
  max-width: 1360px;
  color: rgb(8, 7, 33);
  text-align: center;
  gap: 80px;

    @include mobile{
      background-color: rgb(12, 10, 33);
      box-shadow: 0px 0px 0px ;
      display: flex;
      flex-direction: column-reverse;
      border-radius: 0;
      gap: 30px;
    }
  

  img{
    height: 400px;
    padding: 8px;
    border: 10px solid white;
    width: auto;
    filter: brightness(.7);
    border-radius: 80%;
    @include mobile{
      display: none;
    }
  }

  .aboutText{
    max-width: 700px;
    color: white;

    h1{
      color: aquamarine;
      font-size: 35px;
      font-weight: 600;
    }
  }

  h3, h2{
    text-align: center;
    color: #4c0c79;
  }

}
.skills{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  gap: 20px;
  flex-direction: row;
  font-size: 20px;
  max-width: 800px;
  
  img{
    height: 80px;
    width: 80px;
  }
  p{
    font-size: 25px;
    line-height: 28px;
  text-align: center;}
  @include mobile{
    gap: 8px;
    font-size: 17px;
    line-height: 15px;
    img{
      height: 40px;
      width: 40px;
    }
    p{
      display: none;
    }
  }
}
p{
  font-size: 25px;
  line-height: 60px;

  @include mobile{
    font-size: 20px;
    line-height: 25px;
  }
}

h3{
  margin-top: 60px;
  font-size: 45px;
  font-weight: 800;
}